/* JM, 07/15/2024 */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #DCDCDC; 
}
ul li,
ol li {
    color: #212121;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background-color: #D8BFD8;
    text-align: center;
}
p {
    background-color: rgba(100, 100, 100, .25);
}